.syntax--json {
  .syntax--punctuation.syntax--string {
    color: inherit;
  }

  .syntax--begin, .syntax--end {
    color: @cyan;
  }

  .syntax--constant,
  .syntax--numeric {
    color: @orange;
  }

  .syntax--invalid.syntax--illegal, .syntax--separator.syntax--key-value {
    color: @white;
  }

  .syntax--string.syntax--quoted.syntax--double.syntax--dictionary {
    color: @red;
  }
}
