.syntax--pug {

    .syntax--attribute {
        &.syntax--class {
            color: @blue;
        }

        &.syntax--id {
            color: @teal;
        }
    }

    .syntax--keyword{
        &.syntax--control {
            color: @pink;
        }
    }
}
